<div class="pf-v6-c-page">
  <app-masthead [(sidebarCollapsed)]="sidebarCollapsed" />

  <div [class]="{'pf-v6-c-page__sidebar': true, 'pf-m-collapsed': sidebarCollapsed}">
    <div class="pf-v6-c-page__sidebar-body">
      <p>Navigation</p>
    </div>
  </div>
  <div class="pf-v6-c-page__main-container" tabindex="-1">
    <main class="pf-v6-c-page__main" tabindex="-1">
      <router-outlet />

      <section class="pf-v6-c-page__main-section">
        <div class="pf-v6-c-page__main-body">
          This is a default
          <code>.pf-v6-c-page__main-section</code>.
        </div>
      </section>
      <section class="pf-v6-c-page__main-section pf-m-secondary">
        <div class="pf-v6-c-page__main-body">
          This
          <code>.pf-v6-c-page__main-section</code> uses
          <code>.pf-m-secondary</code>.
        </div>
      </section>
      <section class="pf-v6-c-page__main-section">
        <div class="pf-v6-c-page__main-body">
          This is a default
          <code>.pf-v6-c-page__main-section</code>.
        </div>
      </section>
      <section class="pf-v6-c-page__main-section pf-m-secondary">
        <div class="pf-v6-c-page__main-body">This is a page__main-body, one of three within one page__main-section.
        </div>
        <div class="pf-v6-c-page__main-body">This is a page__main-body, one of three within one page__main-section.
        </div>
        <div class="pf-v6-c-page__main-body">This is a page__main-body, one of three within one page__main-section.
        </div>
      </section>
    </main>
  </div>
</div>
